div.jurisdiction-se-links {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 24px;
    text-align: center;
    background-color: white;
}

div.jurisdiction-se-links img {
    vertical-align: middle;
    cursor: pointer;
    height: 20px;
    margin: 2px;
}
