html, body {
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    position: relative;
}

#nolimit-swipe-blocker {
    height: 120vh;
    position: fixed;
    top: 0;
    z-index: 2;
}

#nolimit-swipe-overlay {
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
}

#nolimit-swipe-overlay #nolimit-swipe-arrow {
    height: 30%;
    width: 30%;
    top: 35vh;
    left: 30vw;
    pointer-events: none;
    z-index: 10;
    position: fixed;
}

@keyframes nolimit-finger {
    from {
        top: 55vh;
    }
    to {
        top: 35vh;
    }
}

#nolimit-swipe-overlay #nolimit-swipe-finger {
    height: 30%;
    width: 30%;
    top: 55vh;
    left: 36vw;
    pointer-events: none;
    z-index: 10;
    position: fixed;

    animation-duration: 1s;
    animation-name: nolimit-finger;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
